<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profinpagella - Valuta i tuoi professori</title>

    <link rel="icon" type="image/png" href="/immagini_icone/favicon/faviconDEMO.png">
    <link rel="stylesheet" href="css/risultati.css">
    <link rel="stylesheet" href="css/media-queries/general-queries.css">
    
</head>
<body>

    <nav class="nav-2">
        <div class="contenitore-logo">
            <img class="logo" src="immagini_icone/logo.jpg">
        </div>
    </nav>

    <section class="risultati-ricerca">
        <% for (let teacher of teachers) { %>
        <a href="/teachers/<%= teacher._id %>">
            <div class="contenitore-risultato-ricerca">
                <span class="nome-professore-ricerca"> <%= teacher.fullName %> </span>
                <div>
                    <span class="scuola-professore-ricerca"> <%= teacher.school.name %> </span>,
                    <span class="citta-professore-ricerca"> <%= teacher.school.city %> </span>
                </div>
                <span class="materia-professore-ricerca">  <% for (var i = 0; i < teacher.subjects.length; i++) { %> <%= teacher.subjects[i] %>  <% } %> </span>
            </div>
        </a>
        <% } %>
    </section>

</body>
</html>

<!-- QUESTA SEZIONE DEVI FARLA TE QUANDO PROGRAMMI LA BARRA DI RICERCA IN MODO CHE METTI I RISULTATI DELLA ROCERCA
     POI MANDALA SUL DRIVE E IO DARO LO STILE GRAFICO FINALE -->